<h1>index</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
  <li>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant)  %></h2>
    <p><%= restaurant.adress %></p>
    <p><%= restaurant.phone_number %></p>
    <p><%= restaurant.category %></p>
  </li>
  <% end %>
</ul>
